/*IKI BAGIAN NAVBAR*/
/*body{
	font-family: Open Sans;
}
*/


.navbar{
	/*position: relative;*/
	/*z-index: 1;*/
	/*background-color: transparent;*/
	/*color: white;*/
	-webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    color: black;

}

.bg-custom{
		background-color: white;
		box-shadow: 0px 0px 20px #c7cad1;
		text-decoration-color: black;

	}

/*.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}*/

.navbar-brand{
	font-family: viga;
	font-size: 32px;
}

.nav-link{
	color: grey !important;
}


/*jumbotron*/ 
.jumbotron{
 	background-image:url(../../../perubahan/home/img/bismillah.png);
	background-size: cover;
	/*background-attachment: fixed;*/
	height: 440px;
	text-align: center;
	position: relative;
	margin-top: 0px;
}

.jumbotron .container{
	z-index: 1;
	position: relative;
}

.jumbotron::after{
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	/*background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));*/
	position:absolute;
	bottom: 0;
}

.display-4{
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
	color: #324A5E;
	margin-top: 80px;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);*/
	margin-bottom: 30px;
}

 .muncul{
	opacity: 1;
	transform: translate(0,0);

}

span{
	font-weight: bold;
}



.info .card{
	
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #c7cad1;
	transition: 0.3s;


}



.card:hover{	
	
	transform: translateY(-10px);
	}


.card-img{
	width: 80px;	
}

.card h4{
	padding-left: 90px;
	font-weight: 250px;	
	font-family: 'Open Sans', sans-serif;

}

.card-body p{
	margin-top: -10px;
	color: grey;
	font-size: 16px;
	padding-left: 90px;
}

.section .about {
	height: 450px;	
	text-align: center;
	background-color: #f9f9f9;
	
}

.about img{

	margin-top: 20px;
	margin-bottom: 50px;
	
}

.about h3{
	font-size: 50px;
	font-weight: 300px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}

.about p{
	font-size: 18px;
	color: #ACACAC;
	margin-top: 30px;
}

.about a{
	margin-bottom: 50px;
}


/*MAP*/

.section .map{
	height: 450px;
	padding-top: 50px;
	margin-bottom: 200px
}

.map{
	text-align: center;
	height:300px;	
}


.map h4{	
	font-size: 30px;
	font-weight: 300px;
	text-transform: uppercase;
	/*margin-top: 30px;*/	
	margin-bottom: 30px;
}




/*contact*/
.contact{
		height: 200px;
		color: white;
		background-color: #324A5E;
		text-align: center;
		font-family: viga;	
	}

.contact p{
	color: white;
	text-align: center;	
	background-color: #324A5E;
	font-family: viga;
}

.contact .footer-links a{
	color: white;
}

.contact .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #324A5E;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
	transition: 0.3s;
}

.contact .footer-icons a:hover{
	color: #0069D9;
	
}


/*footer*/
footer .copyright{
	color: #ACACAC;
	text-align: center;
	background-color: #324A5E;	
}
/*utility*/
.tombol{
	text-transform: uppercase;
	font-size: 20px;	
	border-radius:;	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 200px;
	height: 50px;
	padding-top: 10px ;
	text-align: center;	
	
}

/*.tombol:hover{
	box-shadow: 0px 0px 5px grey;
	transition: 0.3s;
}
*/



/*VERSI DESKTOP*/
@media (min-width: 992px) {
	/*.navbar{
	position: relative;
	z-index: 1;
	background-color: transparent;
	color: white;
	}*/

	.bg-custom{
		background-color: white;
		box-shadow: 0px 0px 20px #c7cad1;
		text-decoration-color: black;

	}

	.nav-link:click::after {
		background-color: black;
	}

	

	.nav-link{
		text-transform: uppercase;
		margin-right: 20px;
	}
	

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px; 
		margin-bottom: -8px;
	}

	.jumbotron{
		margin-top: 0px;
		height: 640px;
		text-align: left;
	}


 .display-4{
		opacity: 0;
		transform: translate(-50px, 0);
		transition: 5s;
		font-size: 52px;
		margin-top: 100px;
	}

 .muncul{
		opacity: 1;
		transform: translate(0,0);

	}

	.about img{

	margin-top: 60px;
	margin-bottom: 50px;
	
}

.about h3{
	font-size: 50px;
	font-weight: 300px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
}
	

	.about h3{
		text-align: left;
	}

	.map{
		text-align: center;
		height:300px;	
		margin-bottom: 250px;
	
	}

	.map h4{	
		font-size: 30px;
		font-weight: 300px;
		text-transform: uppercase;
	}

	.gmap iframe{
		overflow:hidden;
		background:none!important;
		height:400px;	
		width: 100%;
		margin: auto;	
	}




	
	.contact{
		height: 100px;
		color: white;
		background-color: #324A5E;
		text-align: left;
		font-family: viga;	
	}
	

	.contact .footer-icons a{
		text-align: left;
	}

	/*footer*/
	
}