/*IKI BAGIAN NAVBAR*/
.navbar{
	/*position: relative;*/
	/*z-index: 1;*/
	/*background-color: transparent;*/
	/*color: white;*/
	-webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    color: black;
    box-shadow: 0px 0px 20px #c7cad1;

}

.bg-custom{
		background-color: white;
		box-shadow: 0px 0px 20px #c7cad1;
		text-decoration-color: black;

	}



/*.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}*/

.navbar-brand{
	font-family: viga;
	font-size: 32px;
}


.lapor{
	margin-top: 100px;
}

.lapor h4{
	font-size: 30px;
	font-weight: bold;	
	padding-bottom: 30px;
}

.lapor label{
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}


.custom-control-input{
	padding-left :500px;
}


.lapor span{
	font-size: 14px;
	padding-left: 5px;
}

.lapor .form-group{
	margin-top: 10px ;
}

.card{
	margin: auto;
	border-radius: 8px;	
	height:500px;	
	margin-bottom: 100px;
	box-shadow: 0px 0px 20px #c7cad1;
		
}



/*contact*/
.contact{
		height: 200px;
		color: white;
		background-color: #324A5E;
		text-align: center;
		font-family: viga;	
	}

.contact p{
	color: white;
	text-align: center;	
	background-color: #324A5E;
	font-family: viga;
}

.contact .footer-links a{
	color: white;
}

.contact .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #324A5E;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
	transition: 0.3s;
}

.contact .footer-icons a:hover{
	color: #0069D9;
	
}


/*footer*/
footer .copyright{
	color: #ACACAC;
	text-align: center;
	background-color: #324A5E;	
}

/*utility*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/*VERSI DESKTOP*/
@media (min-width: 992px) {
	.bg-custom{
		background-color: white;
		box-shadow: 0px 0px 20px #c7cad1;
		text-decoration-color: black;

	}

	.nav-link:click::after {
		background-color: black;
	}

	

	.nav-link{
		text-transform: uppercase;
		margin-right: 20px;
	}
	

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px; 
		margin-bottom: -8px;
	}



	/*contact*/
	.contact{
		background-color: #324A5E;
	}

	.contact{
		height: 100px;
		color: white;
		background-color: #324A5E;
		text-align: left;
		font-family: viga;	
	}
	

	.contact .footer-icons a{
		text-align: left;
	}

	/*footer*/

}