/*IKI BAGIAN NAVBAR*/
.navbar{
	position: relative;
	z-index: 1;
}

.navbar-brand{
	font-family: viga;
	font-size: 32px;
}


.lapor{	
	margin: auto;
}

.lapor .form-group{
	margin: 10px;
}


/**/



/*contact*/
.contact{
	margin-top: 200px;
}

.contact{	
	color: white;
	text-align: center;	
	background-color: black;
	font-family: viga;
}

.contact .footer-links a{
	color: white;
}

.contact .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: black;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



/*footer*/
footer .copyright{
	color: #ACACAC;
	text-align: center;
	background-color: black;	
}

/*utility*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/*VERSI DESKTOP*/
@media (min-width: 992px) {
	.navbar{
		background-color: black;
	}
	
	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.nav-link{
		text-transform: uppercase;
		margin-right: 20px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px; 
		margin-bottom: -8px;
	}
	



	/*contact*/
	.contact{
		background-color: black;
	}

	.contact{
		height: 100px;
		color: white;
		background-color: black;
		text-align: left;
		font-family: viga;	
	}
	

	.contact .footer-icons a{
		text-align: left;
	}

	/*footer*/
}